<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="wrapper"><!-- wrapper start -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4>First sud Header</h4>
                                    <form role="form">
                                        <a class="btn btn-success" id="newBriefing" data-th-href="${'/userDetails/add'}">
                                            <i class="fa fa-briefing-plus"></i> Add Employee </a>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-body">
                                    <h4>Secondary Header </h4>
                                    <div class="card-body">
                                        <table id="example2" class="table table-hover table-dark">
                                            <thead>
                                            <tr>
                                                <th> Index</th>
                                                <th> Pay Role Number</th>
                                                <th> Name</th>
                                                <th> Mobile</th>
                                                <th> Designation</th>
                                                <th> Status</th>
                                                <th> Modify</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-th-each="userDetails, rowCount : ${userDetails}">
                                                <td data-th-text="${rowCount.count}"></td>
                                                <td data-th-text="${userDetails.payRoleNumber}"></td>
                                                <td data-th-text="${userDetails.callingName}"></td>
                                                <td data-th-text="${userDetails.mobileOne}"></td>
                                                <td data-th-if="${userDetails.designation.name != null}"
                                                    data-th-text="${userDetails.designation.name}"></td>
                                                <td data-th-text="${userDetails.employeeStatus.employeeStatus}"></td>
                                                <td>
                                                    <a id="employeeView" data-th-href="${'/userDetails/' + userDetails.id}"
                                                       class="btn btn-success btn-sm"><i
                                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                                    <a id="employeeEdit"
                                                       data-th-href="${'/userDetails/edit/' + userDetails.id}"
                                                       class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    <a id="employeeRemove"
                                                       data-th-href="${'/userDetails/remove/' + userDetails.id}"
                                                       data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                       class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                                                        Delete</a>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="row" data-th-if="${ #lists.isEmpty(userDetails)}">
                                        <!-- <div class="col-sm-12">-->
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3 class="text-center text-danger">
                                                <strong>There is no userDetails upto now please add userDetails to the system
                                                        using add user button.
                                                </strong>
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- content-wrapper end -->
      <!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
      <!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>