<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<div class="container" >
  <div class="row text-center" >
    <div class="col" >
      <a class="btn btn-outline-info" href="/home" >
        Back To Home
      </a >
    </div >

    <div class="col" >
      <a href="/userDetails" class="btn btn-primary" >
        View User Details
      </a >
    </div >
  </div >
  <div class="row text-center" >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          <span data-th-text="${userDetail.number+' User Details'}" ></span >
        </strong >
      </h4 >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid " >
  <div class="row" >
    <!--Left Side-->
    <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
      <!--number-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="number" >User Number :</label >
        </div >
        <div class="col-md-8" >
          <input id="number" data-th-value="${userDetail.number}" class="form-control" tabindex="4"
                 type="text" readonly required />

        </div >
      </div >
      <!--Tittle -->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="title" >Title :</label >
        </div >
        <div class="col-md-8" >
          <input id="title" type="text" data-th-value="${userDetail.title}" class="form-control" tabindex="3"
                 required />

        </div >
      </div >
      <!--Name-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="name" >Name :</label >
        </div >
        <div class="col-md-8" >
          <input id="name" data-th-value="${userDetail.name}" class="form-control" tabindex="4" type="text" required />
        </div >
      </div >
      <!--Calling Name-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="callingName" >Calling Name :</label >
        </div >
        <div class="col-md-8" >
          <input id="callingName" data-th-value="${userDetail.callingName}" class="form-control" tabindex="5"
                 type="text" minlength="5" />
        </div >
      </div >
      <!--Nic-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="nic" >NIC No :</label >
        </div >
        <div class="col-md-8" >
          <input id="nic" data-th-value="${userDetail.nic}" class="form-control" tabindex="6" type="text"
                 maxlength="12"
                 minlength="10" required />
        </div >
      </div >
      <!--Gender-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="gender" >Gender :</label >
        </div >
        <div class="col-md-8" >
          <input id="gender" data-th-value="${userDetail.gender}" class="form-control" tabindex="7" readonly=""
                 required type="text" />

        </div >
      </div >
      <!--Date of birth-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="dateOfBirth" >Birth date :</label >
        </div >
        <div class="col-md-8" >
          <input id="dateOfBirth" data-th-value="${userDetail.dateOfBirth}" class="form-control" tabindex="8"
                 placeholder="Ex: 1990 - 01 - 20"
                 required type="date" readonly />
        </div >
      </div >
      <!--Image-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" >Image :</label >
        </div >
        <div class="col-md-4" >
          <!--photo details-->
          <img class="text-right" data-th-src="${file != null ? file.url :''}"
               id="image" alt=""
               style="height: 100px; width: 100%;" />
        </div >
      </div >
    </div >
    <!--Right Side-->
    <div class="form-group col-md-6 col-sm-6 text-right flex-column" >
      <!--Address-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="address" >Address :</label >
        </div >
        <div class="col-md-8" >
                            <textarea id="address" data-th-value="${userDetail.address}" class="form-control"
                                      tabindex="12"
                                      required >

                            </textarea >
        </div >
      </div >
      <!--Mobile Number One-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="mobileOne" >Mobile One No :</label >
        </div >
        <div class="col-md-8" >
          <input id="mobileOne" data-th-value="${userDetail.mobileOne}" class="form-control mobile" tabindex="13"
                 type="text"
                 maxlength="10" min="9"
                 required />
        </div >
      </div >
      <!--Mobile Number Two-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="mobileTwo" >Mobile Two No :</label >
        </div >
        <div class="col-md-8" >
          <input id="mobileTwo" data-th-value="${userDetail.mobileTwo}" class="form-control mobile" tabindex="14"
                 type="text"
                 maxlength="10" min="9" />
        </div >
      </div >
      <!--Land Number-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="land" >Land No :</label >
        </div >
        <div class="col-md-8" >
          <input id="land" data-th-value="${userDetail.land}" class="form-control land" type="text" tabindex="15"
                 maxlength="10"
                 min="9" />
        </div >
      </div >
      <!--Email-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="email" >Email :</label >
        </div >
        <div class="col-md-8" >
          <input id="email" data-th-value="${userDetail.email}" class="form-control" tabindex="16" type="email"
                 required />
        </div >
      </div >
      <!--Office email-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="officeEmail" >Office Email :</label >
        </div >
        <div class="col-md-8" >
          <input id="officeEmail" data-th-value="${userDetail.officeEmail}" class="form-control" tabindex="17"
                 type="email" required />
        </div >
      </div >
      <!--Relevant Party-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="relevantParty" >Relevant Party :</label >
        </div >
        <div class="col-md-8" >
          <input type="text" id="relevantParty" data-th-value="${userDetail.relevantParty}" class="form-control"
                 tabindex="3" />

        </div >
      </div >
      <!--Created by and created at-->
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="createdBy" >Created By :</label >
        </div >
        <div class="col-md-8" >
          <input id="createdBy" data-th-value="${userDetail.createdBy}" class="form-control" type="text"
                 readonly />
        </div >
      </div >
      <div class="form-row text-right" >
        <div class="col-md-4" >
          <label class="control-label" for="createdAt" >Created At :</label >
        </div >
        <div class="col-md-8" >
          <input id="createdAt" data-th-value="${{userDetail.createdAt}}" class="form-control" type="text"
                 readonly />
        </div >
      </div >
    </div >
    <!--Button-->
    <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
      <!--Back Button-->
      <a class="btn btn-dark" tabindex="10" href="/userDetails" >
        <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp;&nbsp;Back
      </a >
    </div >
  </div >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >