<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >vezzalOrder-detail</title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--heading Area-->
<div class="container-fluid " >
  <div class="row text-center" >
    <!--ViewList Button-->
    <div class="col" >
      <a href="/vezzalOrder" class="btn btn-primary" tabindex="1" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Customer Name-->
    <div class="col" >
      <h2 class="text-center" >
        <strong >
          <span data-th-text="${vezzalOrderDetail.number + ' Order Details'}" ></span >
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-primary" href="/home" tabindex="2" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<!--details-->
<div data-th-fragment="vezzalOrderDetailsFragment" class="container-fluid " >
  <!--Vezzal Arrival History -->
  <div data-th-replace="~{vezzalArrivalHistory/vezzalArrivalHistory-detail :: vezzalArrivalHistoryFragment}" ></div >
  <div id="accordianId1" role="tablist" aria-multiselectable="true" >
    <div class="card mb-3" >
      <div class="card-header" role="tab" id="section2HeaderId1" >
        <h5 class="mb-0" >
          <a data-toggle="collapse" data-parent="#accordianId1" href="#section2ContentId1" aria-expanded="true"
             aria-controls="section2ContentId" >
            <div class="container-fluid text-center" >
              Vezzal Order Details
            </div >
          </a >
        </h5 >
      </div >
      <div id="section2ContentId1" class="collapse show" role="tabpanel" aria-labelledby="section2HeaderId1" >
        <div class="card-body" >
          <!--details-->
          <div class="row" >
            <!--Left Side-->
            <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
              <!--order number-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="number" >Order Number :</label >
                </div >
                <div class="col-md-8" >
                  <p id="number" data-th-text="${vezzalOrderDetail.number}" ></p >
                </div >
              </div >
              <!--Vezzal Order Status-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="vezzalOrderStatus" >Vezzal Order Status :</label >
                </div >
                <div class="col-md-8" >
                  <p id="vezzalOrderStatus"
                     data-th-text="${vezzalOrderDetail.vezzalOrderStatus.vezzalOrderStatus}" ></p >
                </div >
              </div >
              <!--Created By-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="createdBy" >Created By :</label >
                </div >
                <div class="col-md-8" >
                  <p id="createdBy" data-th-text="${vezzalOrderDetail.createdBy}" ></p >
                </div >
              </div >
            </div >
            <!--Right Side-->
            <div class="form-group col-md-6 col-sm-6 text-right flex-column" >
              <!--closing Date At-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="closingDate" >Closing Date At :</label >
                </div >
                <div class="col-md-8" >
                  <p id="closingDate" data-th-text="${vezzalOrderDetail.closingDate}" ></p >
                </div >
              </div >
              <!--warehouse Block-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="warehouseBlock" >Warehouse Block :</label >
                </div >
                <div class="col-md-8" >
                  <p id="warehouseBlock" data-th-text="${vezzalOrderDetail.warehouseBlock.name}" >
                  </p >
                </div >
              </div >
              <!--Created At-->
              <div class="form-row text-right" >
                <div class="col-md-4" >
                  <label class="control-label" for="createdAt" >Created At :</label >
                </div >
                <div class="col-md-8" >
                  <p id="createdAt" data-th-text="${{vezzalOrderDetail.createdAt}}" ></p >
                </div >
              </div >
            </div >
          </div >
          <!--Order Item-->
          <div class="form-row" >
            <div class="text-center table-responsive" >
              <table id="myTable" class="table table-striped table-inverse align-content-center" >
                <tr >
                  <th >Index</th >
                  <th >Item Name</th >
                  <th >Request Amount</th >
                  <th >Vezzal Order Item Status</th >
                </tr >
                <tr data-th-each="vezzalOrderItem, index : ${vezzalOrderDetail.vezzalOrderItems}" >
                  <td data-th-text="${index.index}" ></td >
                  <td data-th-text="${vezzalOrderItem.item.name}" ></td >
                  <td data-th-text="${vezzalOrderItem.quantity}" ></td >
                  <td data-th-text="${vezzalOrderItem.vezzalOrderItemStatus.vezzalOrderItemStatus}" ></td >
                </tr >
              </table >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!--Back Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column " >
  <a href="/vezzalOrder" >
    <button class="btn btn-dark" type="button" tabindex="3" >
      <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp; &nbsp;Back
    </button >
  </a >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

</body >
</html >