<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<body >


<nav class="navbar navbar-expand-sm navbar-light font-weight-bolder bg-secondary mb-3" th:fragment="navBarFragment" >
  <a class="navbar-brand text-center" href="/home" >
    <img data-th-src="${'/img/logo.png'}" class=" rounded" style="height: 2.5%; width: 12.5%" alt="Company Logo" >
    <span class="h3" >Sri Lanka Custom</span >
  </a >
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation" ></button >
  <div class="collapse navbar-collapse" id="collapsibleNavId" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item active" >
        <a class="nav-link" href="/" >Home <span class="sr-only" >(current)</span ></a >
      </li >
      <li class="nav-item" >
        <a class="nav-link" href="#" >Link</a >
      </li >
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false" >Dropdown</a >
        <div class="dropdown-menu" aria-labelledby="dropdownId" >
          <a class="dropdown-item" href="#" >Action 1</a >
          <a class="dropdown-item" href="#" >Action 2</a >
        </div >
      </li >
    </ul >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item active" >
      </li >
      <li class="nav-item active" >
        <a data-th-href="@{'/userDetails'}" class="nav-link" > Employee</a >
    </ul >
  </div >
</nav >
</body >
</html >

