<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div data-th-fragment="employeeDetailsFragment"
                                             class="container-fluid ">
                                            <h4>First sud Header</h4>
                                            <form role="form">
                                                <p data-th-text="${employeeDetail.title.title} +${' '} +${employeeDetail.name}"></p>
                                                <a href="/employee" class="btn btn-primary">
                                                    <i class="fa fa-list"></i>&nbsp; View List
                                                </a>
                                                <a href="/employee">
                                                    <button class="btn btn-success" type="button" tabindex="10">
                                                        <i class="fa fa-backward " style="font-size: 20px"></i>&nbsp;
                                                        &nbsp;Back
                                                    </button>
                                                </a>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="id">ID :</label>
                                            <p id="id" data-th-text="${employeeDetail.id}" class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="payRoleNumber">Pay Role No :</label>
                                            <p id="payRoleNumber" data-th-text="${employeeDetail.payRoleNumber}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="departmentIdNumber">Depart Id No :</label>
                                            <p id="departmentIdNumber" data-th-text="${employeeDetail.departmentIdNumber}"
                                               class="display_detail"></p></div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="name">Name :</label>
                                            <p id="name"
                                               data-th-text="${employeeDetail.title.title} +${' '} +${employeeDetail.name}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="callingName">Calling Name :</label>
                                            <p id="callingName" data-th-text="${employeeDetail.callingName}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="nic">NIC No :</label>
                                            <p id="nic" data-th-text="${employeeDetail.nic}" class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="gender">Gender :</label>
                                            <p id="gender" data-th-text="${employeeDetail.gender.gender}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="dateOfBirth">Birth date :</label>
                                            <p id="dateOfBirth" data-th-text="${employeeDetail.dateOfBirth}"
                                               class="display_detail">Error Birthday</p>
                                        </div>
                                        <div class="form-row text-right">

                                            <label class="control-label" for="bloodGroup">Blood Group :</label>
                                        </div>
                                        <div class="form-row text-right">
                                            <p id="bloodGroup" data-th-text="${employeeDetail.bloodGroup.bloodGroup}"
                                               class="display_detail">
                                            </p>

                                        </div>
                                        <div class="form-row text-right">

                                            <label class="control-label" for="designation">Designation :</label>

                                            <p id="designation" data-th-text="${employeeDetail.designation.name}"
                                               class="display_detail">
                                            </p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="civilStatus">Civil State :</label>
                                        </div>
                                        <div class="form-row text-right">
                                            <p id="civilStatus" data-th-text="${employeeDetail.civilStatus.civilStatus}"
                                               class="display_detail"></p>

                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="employeeStatus">Employee Status :</label>
                                            <p id="employeeStatus"
                                               data-th-text="${employeeDetail.employeeStatus.employeeStatus}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="address">Address :</label>
                                            <p id="address" class="display_detail "
                                               data-th-utext="${employeeDetail.address}"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="mobileOne">Mobile One No :</label>
                                            <p id="mobileOne" data-th-text="${employeeDetail.mobileOne}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="mobileTwo">Mobile Two No :</label>
                                            <p id="mobileTwo" data-th-text="${employeeDetail.mobileTwo}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="land">Land No :</label>
                                            <p id="land" data-th-text="${employeeDetail.land}" class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="email">Email :</label>
                                            <p id="email" data-th-text="${employeeDetail.email}" class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="officeEmail">Office Email :</label>
                                            <p id="officeEmail" data-th-text="${employeeDetail.officeEmail}"
                                               class="display_detail"></p>
                                        </div>
                                        <!--<div class="form-row text-right">
                                            <label class="control-label" for="workingPlace">Working Place :</label>
                                            <p id="workingPlace" data-th-text="${employeeDetail.workingPlace.name}" class="display_detail"></p>
                                        </div>-->
                                        <div class="form-row text-right">
                                            <label class="control-label" for="dateOfAssignment">Date Of Assignment
                                                :</label>
                                            <p id="dateOfAssignment" data-th-text="${{employeeDetail.dateOfAssignment}}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="createdBy">Created By :</label>
                                            <p id="createdBy" data-th-text="${employeeDetail.createdBy}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="createdAt">Created At :</label>
                                            <p id="createdAt"
                                               data-th-text="${#temporals.format(employeeDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">
                                            <label class="control-label" for="updatedBy">Updated By :</label>
                                            <p id="updatedBy" data-th-text="${employeeDetail.updatedBy}"
                                               class="display_detail"></p>
                                        </div>
                                        <div class="form-row text-right">

                                            <label class="control-label" for="updatedAt">Updated At :</label>

                                            <p id="updatedAt" data-th-text="${{employeeDetail.updatedAt}}"
                                               class="display_detail"></p>

                                        </div>
                                        <!--images-->
                                        <div class="form-group text-left flex-column ">
                                            <div class="col" id="photoDetails">
                                                <div>
                                                    <label class="control-label ">Photo Details : </label>
                                                </div>
                                                <div class="row">
                                                    <div class="col" id="filesList" data-th-each="file, rowStat: ${files}">
                                                        <div class="col">
                                                            <div class="alert alert-warning alert-dismissible fade show"
                                                                 role="alert">
                                                                <div class="card text-center">
                                                                    <div class="card-body">
                                                                        <img id="img" class="rounded"
                                                                             style="height: 150px; widdata-th- 150px; border-radius: 10px"
                                                                             alt="Employee images"
                                                                             data-th-src="${file.url}"/>
                                                                    </div>
                                                                    <div class="card-footer bg-secondary text-light text-center">
                                                                        <p id="imgName" data-th-text="${file.filename}"></p>
                                                                        <span> Uploaded Date :
                                            <p id="imgCreateAt" data-th-text="${{file.createAt}}"></p>
                                            </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>