.card{
    transition: all .8s linear;
    -o-transition: all .8s linear;
    -moz-transition: all .8s linear;
    -webkit-transition: all .8s linear;
}

.card:hover{
    background: aqua;
    transition: background-color 1000ms linear;
}
