* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}

/*#loginBack {*/
/*    background-image: url('../img/loginBackground.jpg');*/
/*}*/


/*html Background - start*/
/*body {*/
/*    background-image: url('../img/loginBackground.jpg');*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/
/*}*/


/*error pages - properties end */
/*Error Message Colour - star*/
.error {
    font-family: 'Open Sans', 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: var(--error-color);
}

#error {
    text-align: center;
}

#errorCode {
    margin-top: 10%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    color: #3299ff;
    background-color: #ffddca;
    border-radius: 10px;
}

#icon {
    height: 250px;
    width: 250px;
    box-shadow: 8px 8px 8px 8px white;

    border-radius: 50%;
    background: linear-gradient(215deg, #5ca155, #a080c5, #56a4b6, #04c2ec, #f2e053);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

#iconIn {
    font-size: 250px;
    text-align: center;
}

#errorMessage {
    color: var(--error-color);
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 5px 20px 0px 15px;
}

/*Error Message Colour - end*/

/*<hr/> tag style - start */
hr{
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/*<hr/> tag style - end */

/*Form-row margin add*/
.form-row{
    margin-top: 5px;
}