* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}


#sideLogin {
    /*background-image: url('../img/port.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
}


/*html Background - start*/
#login {
    background: linear-gradient(200deg, #FDC182, #FBBF5E, #171E28, #04c2ec, #f2e053);
    background-size: 150% 150%;
}


/*error pages - properties end */
/*Error Message Colour - star*/
.error {
    font-family: 'Open Sans', 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: var(--error-color);
}

#error {
    text-align: center;
}

#errorCode {
    margin-top: 10%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    color: #3299ff;
    background-color: #ffddca;
    border-radius: 10px;
}

#icon {
    height: 250px;
    width: 250px;
    box-shadow: 8px 8px 8px 8px white;

    border-radius: 50%;
    background: linear-gradient(215deg, #5ca155, #a080c5, #56a4b6, #04c2ec, #f2e053);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

#iconIn {
    font-size: 250px;
    text-align: center;
}

#errorMessage {
    color: var(--error-color);
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 5px 20px 0px 15px;
}

/*Error Message Colour - end*/

/*<hr/> tag style - start */
hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

/*<hr/> tag style - end */
/*Form related css*/
.form-row {
    margin-top: 5px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #53b32c;
    background-color: #e7e2e2;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #4faef5;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
input:optional {
    border-color: gray;
}
input:required:valid {
    border-color: green;
}
input:invalid {
    border-color: red;
}
input:required:focus:valid {
    background: url("https://assets.digitalocean.com/labs/icons/hand-thumbs-up.svg") no-repeat 95% 50% lightgreen;
    background-size: 25px;
}
input:focus:invalid {
    background: url("https://assets.digitalocean.com/labs/icons/exclamation-triangle-fill.svg") no-repeat 95% 50% lightsalmon;
    background-size: 25px;
}