<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<iframe src="http://www.customs.gov.lk/" class="container-fluid vh-100 mt-n3"></iframe>

<!--footer include-->
<div th:replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div th:replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>