<!DOCTYPE html>
<html lang="en" >
<head  data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav  data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid  form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a href="/home" id="btnHome" class="btn btn-outline-info">
                &nbsp;Back To Home&nbsp;
            </a>
        </div>
        <div class="col">
            <a class="btn btn-info" href=""><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Payment Management
                </strong>
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid" >
    <div class="row" >
        <!--Custom Invoice search-->
        <button type="button" class="btn btn-info mb-5 btn-block text-capitalize" data-toggle="collapse"
                data-target="#dataTargetCollapse"
                aria-expanded="false" aria-controls="dataTargetCollapse"
        > Custom Payment Search
        </button >
        <div class="collapse mx-auto" id="dataTargetCollapse" >
            <div class="container-fluid text-center" >
                <div class="row" >
                    <form class="form-inline" data-th-action="@{/payment/search}" data-th-method="POST" >
                        <div class="form-group mr-2" >
                            <label for="startDate" >FROM :</label >
                            <input class="form-control" id="startDate" name="startDate" type="date" />
                        </div >
                        <div class="form-group mr-2" >
                            <label for="endDate" >TO :</label >
                            <input class="form-control" id="endDate" name="endDate" type="date" />
                        </div >
                        <button class="btn btn-success mr-2" id="btnSummaryFind" type="submit" ><span
                              class="glyphicon glyphicon-search" ></span >&nbsp;Search
                        </button >
                    </form >
                </div >
            </div >
        </div >
    </div >
    <div class="row" data-th-if="${firstInvoiceMessage}" >
        <div class="col-sm-12 mt-4" >
            <div class="alert alert-warning col-sm-8" role="alert" >
                <strong ><span data-th-text="${message}"></span></strong >
            </div >
        </div >
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div >
</div >

<div class="container-fluid text-center">
    <div class="col">
        <div class="col" id="paymentList" data-th-if="${not #lists.isEmpty(payments)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Number</th>
                    <th> Amount</th>
                    <th> Date</th>
                    <th> Status</th>
                    <th> Chandler</th>
                    <th> Ship Agent</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="payment, rowCount : ${payments}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${payment.code}"></th>
                    <th data-th-text="${payment.amount}"></th>
                    <th data-th-text="${{payment.createdAt}}"></th>
                    <th data-th-text="${payment.statusConformation.statusConformation}"></th>
                    <th data-th-text="${payment.chandler.name}"></th>
                    <th data-th-text="${payment.vesselOrder.vesselArrivalHistory.shipAgent.name}"></th>
                    <th>
                        <a id="employeeView" data-th-href="${'/payment/' + payment.id}" class="btn btn-outline-secondary btn-sm">&nbsp;View</a>
                        <a id="employeeEdit" data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" data-th-href="${'/payment/edit/' + payment.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="employeeRemove" data-th-href="${'/payment/remove/' + payment.id}"
                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-th-if="${ #lists.isEmpty(payments)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no payment upto now please add payment to the system
                            using add user button.
                    </strong>
                </h3>
            </div>
        </div>
    </div>
</div>
<!--footer include-->
<div  data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div  data-th-replace="~{fragments/script :: scriptFragment}"></div>

</body>
</html>
