<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--<nav th:replace="~{fragments/sideBar :: sideBarFragment}"></nav>-->

<div class="container-fluid  form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a href="/home" id="btnHome" class="btn btn-outline-info">
                &nbsp;Back To Home&nbsp;
            </a>
        </div>
        <div class="col">
            <a class="btn btn-info" href="/payment/add"><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Payment Management
                </strong>
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid formBorder text-center">
    <div class="col">
        <div class="col" id="paymentList" th:if="${not #lists.isEmpty(payments)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Sample</th>
                    <th> Amount</th>
                    <th> Date</th>
                    <th> Status</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment, rowCount : ${payments}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${payment.sampleReceiving.sampleCode}"></th>
                    <th th:text="${payment.amount}"></th>
                    <th th:text="${payment.paymentDate}"></th>
                    <th th:text="${payment.paymentStatus.paymentStatus}"></th>
                    <th>
                        <a id="employeeView" th:href="${'/payment/' + payment.id}" class="btn btn-outline-secondary btn-sm">&nbsp;View</a>
                        <a id="employeeEdit" th:href="${'/payment/edit/' + payment.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="employeeRemove" th:href="${'/payment/remove/' + payment.id}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(payments)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no payment upto now please add payment to the system
                        using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
