<!DOCTYPE html>
<html lang="en" >
<!--/* Styles, meta data, and title are included */-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Thymeleaf Springboot </title >
</head >
<body >
<!--/* Nav bar is included */-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >
<!--heading Area-->
<div class="container-fluid " >
  <div class="row text-center border-info" >
    <!--ViewList Button-->
    <div class="col" >
      <a href="/vesselArrivalHistory" class="btn btn-outline-primary" tabindex="1" >
        <i class="fa fa-list" style="font-size: 20px" ></i >&nbsp;&nbsp;View List
      </a >
    </div >
    <!--Customer Name-->
    <div class="col" >
      <h2 class="text-center" >
        <strong >
          <p data-th-text="${vesselArrivalHistoryDetail.vessel.name}" ></p >
        </strong >
      </h2 >
    </div >
    <!--Home Button-->
    <div class="col" >
      <a class="btn btn-outline-primary" href="/home" tabindex="2" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp;&nbsp;Home
      </a >
    </div >
  </div >
</div >
<div id="accordianId" role="tablist" aria-multiselectable="true" data-th-fragment="vesselArrivalHistoryFragment" >
  <div class="card" >
    <div class="card-header" role="tab" id="section1HeaderId" >
      <h5 class="mb-0" >
        <a data-toggle="collapse" data-parent="#accordianId" href="#section1ContentId" aria-expanded="true"
           aria-controls="section1ContentId" >
          <div class="container-fluid text-center" >
            Vessel Details
          </div >
        </a >
      </h5 >
    </div >
    <div id="section1ContentId" class="collapse in" role="tabpanel" aria-labelledby="section1HeaderId" >
      <div class="card-body" >
        <div data-th-replace="~{vessel/vessel-detail :: vesselDetailsFragment}" ></div >
      </div >
    </div >
  </div >
  <div class="card" >
    <div class="card-header" role="tab" id="section2HeaderId" >
      <h5 class="mb-0" >
        <a data-toggle="collapse" data-parent="#accordianId" href="#section2ContentId" aria-expanded="true"
           aria-controls="section2ContentId" >
          <div class="container-fluid text-center" >
            Vessel History Details
          </div >
        </a >
      </h5 >
    </div >
    <div data-th-id="${'section2ContentId'}" data-th-class="${historyShow?'collapse show':'collapse'}" role="tabpanel"
         aria-labelledby="section2HeaderId" data-th-if="${historyShow}" >
      <div class="card-body" >
        <!--details-->
        <div data-th-fragment="vesselArrivalHistoryDetailsFragment" class="container-fluid " >
          <div class="col-sm-12 flex-column " >
            <div class="row" >
              <!--Left Side-->
              <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
                <!--ship agent -->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Ship Agent :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.shipAgent.name}" class="display_detail" ></p >
                  </div >
                </div >
                <!--captain name-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Captain name :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.captainName}" class="display_detail" ></p >
                  </div >
                </div >
                <!--cargoTonnage-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Cargo Tonnage :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.cargoTonnage}" class="display_detail" ></p >
                  </div >
                </div >
                <!--anchorageTerminal-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Anchorage Terminal :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.anchorageTerminal}" class="display_detail" ></p >
                  </div >
                </div >
                <!--purposeOfVisit-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Purpose Of Visit :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.purposeOfVisit}" class="display_detail" ></p >
                  </div >
                </div >
                <!--numberOfCrewMembers-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Number Of Crew Members :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.numberOfCrewMembers}" class="display_detail" ></p >
                  </div >
                </div >
                <!--numberOfPassengers-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Number Of Passengers :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.numberOfPassengers}" class="display_detail" ></p >
                  </div >
                </div >
                <!--Created By-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Created By :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.createdBy}" class="display_detail" ></p >
                  </div >
                </div >
                <!--Created At-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Created At :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${#temporals.format(vesselArrivalHistoryDetail.createdAt, 'yyyy-MM-dd HH:mm')}" ></p >
                  </div >
                </div >
              </div >
              <!--Right Side-->
              <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
                <!--numberOfPassengers-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >One Previous Harbour Name :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.onePreviousHarbourName}" class="display_detail" ></p >
                  </div >
                </div >
                <!--twoPreviousHarbourName-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Two Previous Harbour Name :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.twoPreviousHarbourName}" class="display_detail" ></p >
                  </div >
                </div >
                <!--threePreviousHarbourName-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Three Previous Harbour Name :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.threePreviousHarbourName}"
                       class="display_detail" ></p >
                  </div >
                </div >
                <!--nextHarbour-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Next Harbour :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.nextHarbour}" class="display_detail" ></p >
                  </div >
                </div >
                <!--vessel Departure Arrival Status-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Vessel Departure Arrival Status
                                                  :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.vesselDepartureArrivalStatus.vesselDepartureArrivalStatus}"
                       class="display_detail" ></p >
                  </div >
                </div >
                <!--anchorage Date And Time -->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Anchorage Date :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${#temporals.format(vesselArrivalHistoryDetail.anchorageDateAndTime, 'yyyy-MM-dd HH:mm')}" ></p >
                  </div >
                </div >
                <!--sailing Date -->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Sailing Date :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${{vesselArrivalHistoryDetail.sailingDate}}" class="display_detail" ></p >
                  </div >
                </div >
                <!--Created By-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Updated By :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${vesselArrivalHistoryDetail.updatedBy}" class="display_detail" ></p >
                  </div >
                </div >
                <!--Created At-->
                <div class="form-row text-right" >
                  <div class="col-md-4" >
                    <label class="control-label" >Updated At :</label >
                  </div >
                  <div class="col-md-8" >
                    <p data-th-text="${#temporals.format(vesselArrivalHistoryDetail.updatedAt, 'yyyy-MM-dd HH:mm')}" ></p >
                  </div >
                </div >
              </div >
            </div >
          </div >
        </div >
      </div >
    </div >
  </div >
</div >
<!--Back Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column mt-2" >
  <a href="/vesselArrivalHistory" >
    <button class="btn btn-outline-dark" type="button" tabindex="3" >
      <i class="fas fa-arrow-circle-left" style="font-size: 20px" ></i >&nbsp; &nbsp;Back
    </button >
  </a >
</div >


<!--/* footer is */-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--/* script is included */-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
</body >
</html >
